{% extends "base.html" %} {% block title %}{% endblock title %}
{% block style %}
    .images {
      width:  300px;
      height: 250px;
      object-fit: cover;
      {% comment %} border-radius: 50%; {% endcomment %}
      padding: 10px;
    }
    body {
        background-color: #f8f9fa;
    }
    {% comment %} .navbar {
        background-color: #007bff;
    }
    .navbar-brand, .nav-link {
        color: white !important;
    } {% endcomment %}
    .carousel-item img {
        {% comment %} height: 1000px; {% endcomment %}
        object-fit: cover;
    }
    .card {
        transition: transform 0.3s ease-in-out;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .footer {
        background-color: #007bff;
        color: white;
        text-align: center;
        padding: 10px 0;
        margin-top: 30px;
    }
{% endblock style %}
{% block body %}
<div class="container-fluid px-0 mx-0">
  {% comment %} sliders {% endcomment %}
  <div class="container-fluid px-0 mx-0">
    <div
      id="carouselExampleDark"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel">
      <div class="carousel-inner" style="object-position: center; object-fit: cover; height: 90vh;">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="https://plus.unsplash.com/premium_photo-1723924876988-22602352e4c1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100 "/>
          {% comment %} <img src="/static/img/slide1.jpg" class="d-block w-100"/> {% endcomment %}
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://plus.unsplash.com/premium_photo-1723600885957-31ddca568fe2?q=80&w=1994&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100 "/>
          {% comment %} <img src="/static/img/slide2.jpg" class="d-block w-100 "/> {% endcomment %}
        </div>
        <div class="carousel-item">
          <img src="https://plus.unsplash.com/premium_photo-1738068049557-4316082a9c4f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100"/>
          {% comment %} <img src="/static/img/slide3.jpg" class="d-block w-100   "/> {% endcomment %}
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"> 
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  {% comment %} END sliders {% endcomment %}
  {% comment %} CARDS {% endcomment %}
  <div class="container my-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
      <div class="col">
        <div class="card shadow-sm">
          {% comment %} <img class="images" src="/static/img/1.jpeg" alt=""> {% endcomment %}
          <img class="images" src="https://images.unsplash.com/photo-1580915411954-282cb1b0d780?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          {% comment %} <img class="images" src="/static/img/1.jpeg" alt=""> {% endcomment %}
          <img class="images" src="https://images.unsplash.com/photo-1580915411954-282cb1b0d780?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          {% comment %} <img class="images" src="/static/img/1.jpeg" alt=""> {% endcomment %}
          <img class="images" src="https://images.unsplash.com/photo-1580915411954-282cb1b0d780?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          {% comment %} <img class="images" src="/static/img/1.jpeg" alt=""> {% endcomment %}
          <img class="images" src="https://images.unsplash.com/photo-1580915411954-282cb1b0d780?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          {% comment %} <img class="images" src="/static/img/1.jpeg" alt=""> {% endcomment %}
          <img class="images" src="https://images.unsplash.com/photo-1580915411954-282cb1b0d780?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          {% comment %} <img class="images" src="/static/img/1.jpeg" alt=""> {% endcomment %}
          <img class="images" src="https://images.unsplash.com/photo-1580915411954-282cb1b0d780?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          {% comment %} <img class="images" src="/static/img/1.jpeg" alt=""> {% endcomment %}
          <img class="images" src="https://images.unsplash.com/photo-1580915411954-282cb1b0d780?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          {% comment %} <img class="images" src="/static/img/1.jpeg" alt=""> {% endcomment %}
          <img class="images" src="https://images.unsplash.com/photo-1580915411954-282cb1b0d780?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          {% comment %} <img class="images" src="/static/img/1.jpeg" alt=""> {% endcomment %}
          <img class="images" src="https://images.unsplash.com/photo-1580915411954-282cb1b0d780?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          {% comment %} <img class="images" src="/static/img/1.jpeg" alt=""> {% endcomment %}
          <img class="images" src="https://images.unsplash.com/photo-1580915411954-282cb1b0d780?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          {% comment %} <img class="images" src="/static/img/1.jpeg" alt=""> {% endcomment %}
          <img class="images" src="https://images.unsplash.com/photo-1580915411954-282cb1b0d780?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          {% comment %} <img class="images" src="/static/img/1.jpeg" alt=""> {% endcomment %}
          <img class="images" src="https://images.unsplash.com/photo-1580915411954-282cb1b0d780?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit</button>
            </div>
          </div>
        </div>
      </div>
      
      {% comment %} <div class="col">
        <div class="card shadow-sm">
          <img class="images" src="/static/img/2.jpeg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="images" src="/static/img/99.jpg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="images" src="/static/img/19.jpg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="images" src="/static/img/12.jpg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="images" src="/static/img/13.jpg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="images" src="/static/img/14.jpg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="images" src="/static/img/15.jpg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="images" src="/static/img/1.jpeg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="images" src="/static/img/17.jpg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="images" src="/static/img/18.jpg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="images" src="/static/img/19.jpg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      
    </div>
  </div>
{% comment %} END CARDS {% endcomment %}
</div>
<footer class="footer">
  <p>&copy; 2025 My Website. All rights reserved.</p>
</footer>
</div>
{% endblock body %}